@import 'variables';

.create-message {
    display: flex;
    flex-direction: column;
    height: $page-height;
    justify-content: center;

    .create-message__header {
        color: $color-primary;
        font-weight: 300;
        margin-bottom: $margin;

        &--highlight {
            color: $color-white;
            font-weight: 700;

            &--thin {
                font-weight: 300;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .create-message__header {
        &--highlight {
            font-size: 180%;
        }
    }
}
