@import 'variables';

.create-msg {
    display: flex;
    flex-direction: column;
    height: $page-height;
    justify-content: center;

    .create-msg__header {
        align-self: center;
        color: $color-primary;
        font-weight: 300;
        margin-bottom: $margin;

        &--highlight {
            color: $color-white;
            font-weight: 700;

            &--thin {
                font-weight: 300;
            }
        }
    }

    .create-msg__send-btn {
        align-self: center;
        width: $btn-width;
    }
}

@media only screen and (min-width: 768px) {
    .create-msg__header {
        &--highlight {
            font-size: 180%;
        }
    }
}
