@import 'variables';

.footer {
    background-color: $color-dark;
    height: $footer-height;
    max-height: $footer-height;
}

.footer__text {
    color: $color-primary;
    font-size: 85%;
    height: $footer-height;
    line-height: $footer-height;
    max-height: $footer-height;
    text-align: center;
    vertical-align: middle;
}
