/**
 * This SCSS file contains all of the styles for base HTML elements and sets default values,
 * which may differ browser-to-browser, ensuring a more consistent look across the app.
 */

@import 'variables';

* {
    border: 0;
    font-family: $font-stack;
    margin: 0;
    outline: none;
    padding: 0;
    letter-spacing: 0.0825rem;
}

a {
    color: $color-white;

    &:link {
        text-decoration: none;
    }

    &:visited {
        text-decoration: none;
    }

    &:hover {
        text-decoration: none;
    }

    &:active {
        text-decoration: none;
    }
}

p, li {
    color: rgba(233, 236, 239, 0.6);
    line-height: 170%;
}

html, body {
    background-color: $color-dark;
    color: $color-primary;
    font-size: 16px;
    height: 100%;
}

ul {
    padding-left: 20px;

    li::before {
        content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $color-primary; /* Change the color */
        display: inline-block; /* Needed to add space between the bullet and the text */
        font-size: 1.5rem;
        font-weight: 900; /* If you want it to be bold */
        margin: 0 0 0 -1rem; /* Also needed for space (tweak if needed) */
        transform: translate(-0.15rem, 0.15rem);
        width: 1rem; /* Also needed for space (tweak if needed) */
        opacity: 0.4;
    }
}

button, input, textarea {
    font-family: Montserrat, Roboto, "Helvetica Neue", sans-serif;
}

@media only screen and (min-width: 768px) {
    html, body {
        font-size: 18px;
    }

    button {
        font-size: 90%;
    }
}
