/**
 * This file contains all of the stylings for links.
 */

@import 'variables';

.link {
    color: $color-primary;
    opacity: 0.7;
}

.link[target="_blank"]:after {
    content: '\f35d';
    font-family: 'FontAwesome', $font-stack;
    margin-left: $eighth-margin;
}

@media only screen and (min-width: 768px) {
    .link {
        &:hover {
            text-decoration: underline;
        }
    }
}
