$font-stack: Montserrat, Roboto, "Helvetica Neue", sans-serif;

$color-white: #F8F9FA;
$color-primary: #E9ECEF;
$color-secondary: #6C757D;
$color-dark: #212529;

$color-warn-light: rgb(255, 214, 220);
$color-warn: rgb(255, 160, 182);
$color-caution-light: rgb(255, 239, 211);
$color-caution: rgb(255, 231, 160);
$color-go-light: rgb(215, 255, 213);
$color-go: rgb(155, 236, 143);
