@import 'variables';

.send-msg {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: $page-height;
    justify-content: center;

    .send-msg__header {
        align-self: center;
        color: $color-primary;
        font-weight: 300;
        margin-bottom: 10rem;
        text-align: center;
        width: 100%;

        &--highlight {
            color: $color-white;
            font-weight: 700;

            &--thin {
                font-weight: 300;
            }
        }
    }
}

.send-msg__header.slide-up {
    animation-delay: 1.2s;
}

web-message-form {
    width: 100%;
}

web-message-form.fade-in {
    animation-delay: 1.8s;
}

@media only screen and (min-width: 768px) {
    .send-msg__header {
        &--highlight {
            font-size: 180%;
        }
    }
}
