@import 'variables';

.msg-result {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: calc(#{$margin} * 1.5);
    min-height: $page-height;
}

web-message-display {
    width: 100%;
}
