@import 'variables';

.msg-form-container {
    max-width: $page-max-width;
    width: 100%;

    .msg-form {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .msg-form__field-container {
            margin-bottom: $margin;
            width: 100%;

            .msg-form__field-label {

            }

            .msg-form__field-input {
                padding: $quarter-padding;
                margin-bottom: $half-margin;
                width: 100%;
            }

            .msg-form__field-requirement-container {
                margin-top: $quarter-margin;

                .msg-form__field-requirement {
                    color: $color-warn;
                    font-size: 80%;
                    margin-bottom: $quarter-margin;
                }
            }
        }

        .msg-form__send-btn {
            margin-top: $half-margin;
        }
    }
}
