<form class='message-form' [formGroup]='messageForm' (ngSubmit)='onSendMessage()'>
    <div class='form-field editor__form-field'>
        <label class='form-field-label editor__form-field-label'>Recipient Address</label>
        <br><br>
        <input formControlName='recipient_address' required autofocus>
    </div>

    <div class='form-field editor__form-field'>
        <label class='form-field-label editor__form-field-label'>Content</label>
        <br><br>
        <input formControlName='content' required autofocus>
    </div>

    <button
        aria-label='Send IOTA protocol message'
        [disabled]='!messageForm.valid'
        class='create-msg__send-btn'
        mat-flat-button
        color='primary'
    >Send Message</button>
</form>
