<div class='send-msg-container'>
    <form class='send-msg-form' [formGroup]='messageForm' (ngSubmit)='onSendMessage()'>
        <div class='form-field'>
            <label class='form-field-label'>Recipient Address</label>
            <br><br>
            <input
                formControlName='recipient_address'
                required
                autofocus
                placeholder='eg. HZYKLMOYJYAYBZRTKAQPUOVUSZTC999JDJCVTXRKOS9WEHR9QEKWBFJRRHVKGXJ9CEZXEPIDLVOBEBD9DCNJNML9PL'
            >
        </div>

        <div class='form-field'>
            <label class='form-field-label '>Content</label>
            <br><br>
            <input
                formControlName='content'
                required
                autofocus
                placeholder='eg. "Hello, Tangle!"'
            >
        </div>

        <button
                aria-label='Submit form data to send IOTA protocol message'
                [disabled]='!messageForm.valid || isSendingMessage'
                [class.spinner]='isSendingMessage'
                class='btn send-msg-form__send-btn'
                mat-flat-button
                color='primary'
        >
            <ng-container *ngIf='!isSendingMessage'>SEND</ng-container>
        </button>
    </form>
</div>
