<div class='msg-form-container'>
    <form class='form msg-form' [formGroup]='messageForm' (ngSubmit)='onSendMessage()'>
        <div class='form__field-container msg-form__field-container'>
            <label class='form__field-label msg-form__field-label'>
                Recipient Address
                <span
                        class='hint msg-form__field-label-hint'
                        matTooltip='The IOTA address to send the message to.'
                        matTooltipPosition='right'
                ></span>
            </label>
            <br><br>
            <input
                class='form__field-input msg-form__field-input'
                formControlName='recipient_address'
                required
                autofocus
                placeholder='eg. atoi1qz3xqrppl4hyf8m2z6v5j743lgvmc7w7u6glsnplkacmy2lgr0ks69ynh9a'
            >
            <div
                class='form__field-requirement-container msg-form__field-requirement-container'
                *ngIf='recipient_address!.invalid && (recipient_address.dirty || recipient_address.touched)'
            >
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='recipient_address.errors!.required'
                >
                    Recipient address is required.
                </div>
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='recipient_address.errors!.minlength || recipient_address.errors!.maxlength'
                >
                    Recipient address must be exactly 64 characters.
                </div>
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='recipient_address.errors!.pattern'
                >
                    Recipient address must be prefixed correctly ("iota" for Mainnet and "atoi" for Testnet) and contain both numbers and lowercase letters.
                </div>
            </div>
        </div>

        <div class='form__field-container msg-form__field-container'>
            <label class='form__field-label msg-form__field-label'>
                Content
                <span
                        class='hint msg-form__field-label-hint'
                        matTooltip='The content to send in the message.'
                        matTooltipPosition='right'
                ></span>
            </label>
            <br><br>
            <textarea
                class='form__field-input msg-form__field-input'
                formControlName='content'
                required
                autofocus
                placeholder='eg. Hello, Tangle!'
            ></textarea>
            <div
                class='form__field-requirement-container msg-form__field-requirement-container'
                *ngIf='content!.invalid && (content.dirty || content.touched)'
            >
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='content.errors!.required'
                >
                    Content is required.
                </div>
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='content.errors!.maxlength'
                >
                    Content must not exceed 512 characters.
                </div>
                <div
                    class='form__field-requirement msg-form__field-requirement'
                    *ngIf='content.errors!.pattern'
                >
                    Content must be consist of only ASCII values.
                </div>
            </div>
        </div>

        <button
                aria-label='Submit form data to send IOTA protocol message'
                [disabled]='!messageForm.valid || isSendingMessage'
                [class.spinner]='isSendingMessage'
                [ngClass]='{"form__submit-btn--loading": isSendingMessage}'
                class='form__submit-btn btn msg-form__send-btn'
                mat-flat-button
                color='primary'
        >
            <ng-container *ngIf='!isSendingMessage'>SEND</ng-container>
        </button>
    </form>
</div>
