<div [ngClass]="{
    'navbar--show': shouldDisplayNavbar,
    'navbar--no-show': !shouldDisplayNavbar
}" class='navbar header'>
    <a class='navbar__logo-icon' routerLink=''>
        <h1>M</h1>
    </a>

    <span class='fill-space'></span>

    <div class='navbar__link-container'>
        <a class='link-item navbar__link-item' routerLink='/'>Home</a>
        <a class='link-item navbar__link-item' routerLink='/blog'>Blog</a>
        <a class='link-item navbar__link-item' routerLink='/shop'>Shop</a>

        <a *ngIf='isAdmin' class='link-item navbar__link-item' routerLink='/admin'>Admin</a>
    </div>

    <button aria-label='Toggle the sidebar menu' class='navbar__toggle-btn' (click)='toggleSidebar()'>
        <div class="navbar__menu-icon">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </button>
</div>

<div class='ghost-navbar'></div>

<div [ngClass]="{
    'sidebar-fog--show': shouldDisplaySidebar,
    'sidebar-fog--no-show': !shouldDisplaySidebar
}" class='sidebar-fog' (click)='toggleSidebar()'></div>

<div [ngClass]="{
    'sidebar--open': shouldDisplaySidebar,
    'sidebar--closed': !shouldDisplaySidebar
}" class='sidebar'>
    <button class='sidebar__toggle-btn' (click)='toggleSidebar()'>
        &#10005;
    </button>

    <div class='sidebar__link-container'>
        <a class='sidebar__link-item' routerLink='/' (click)='toggleSidebar()'>Home</a>
        <a class='sidebar__link-item' routerLink='/blog' (click)='toggleSidebar()'>Blog</a>
        <a class='sidebar__link-item' routerLink='/shop' (click)='toggleSidebar()'>Shop</a>

        <a *ngIf='isAdmin' class='sidebar__link-item' routerLink='admin' (click)='toggleSidebar()'>Admin</a>
    </div>
</div>
