<div class='section about'>
    <h1 class='about__header'>
        About
    </h1>

    <p class='about__info'>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mauris ipsum, consectetur in odio ac, commodo convallis nibh. Integer ultrices neque eu sem aliquet maximus. Donec tincidunt cursus tristique. Nunc vel vulputate sapien. Nulla facilisi. Aliquam imperdiet augue malesuada, dignissim justo vel, pretium lacus. In ac libero leo. Cras sodales lorem vitae maximus ornare. Aliquam lorem lorem, ultrices eu eleifend at, volutpat ac dolor. Donec accumsan vitae risus tincidunt venenatis. Mauris fringilla lacinia sapien id cursus. Integer non augue quis lacus pretium suscipit. Fusce consectetur eros nec convallis semper. Nulla facilisi.
    </p>

    <p class='about__info'>
        Etiam eu ex pulvinar, tempor sapien aliquet, vulputate magna. Sed condimentum lorem quis lacus commodo, id hendrerit lectus commodo. Donec ac lacinia augue. Duis iaculis iaculis ultricies. Vivamus et odio at turpis consectetur porttitor at eget nulla. Maecenas in purus laoreet risus luctus viverra. In euismod ex at sodales luctus. Donec porta in ipsum id faucibus. Aliquam pellentesque lacus leo, in posuere dui volutpat non.
    </p>
</div>
