<div *ngIf='isMessageDataLoaded()' class='msg-display'>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>ID: </p>
        <p class='msg-display__msg-attribute-value'>{{ messageData.id }}</p>
    </div>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>Hash: </p>
        <p class='msg-display__msg-attribute-value'>
            <a class='link' [href]='getIotaExplorerUrl()' target='_blank' role='link' rel='nofollow noreferrer noopener'>
                {{ messageData.hash }}
            </a>
        </p>
    </div>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>Recipient Address: </p>
        <p class='msg-display__msg-attribute-value'>{{ messageData.recipient_address }}</p>
    </div>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>Content: </p>
        <p class='msg-display__msg-attribute-value'>"{{ messageData.content }}"</p>
    </div>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>Initiated At: </p>
        <p class='msg-display__msg-attribute-value'>{{ formatDate(messageData.initiated_at) }}</p>
    </div>
    <div class='msg-display__msg-attribute-container'>
        <p class='msg-display__msg-attribute-key'>Attached At: </p>
        <p class='msg-display__msg-attribute-value'>{{ formatDate(messageData.attached_at) }}</p>
    </div>
</div>
